body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F7F5;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none !important;
}

.card-body {
  overflow: auto;
}

.movable {
  transition: 0.2s;
}

.bg-card {
  width: 100%;
  background-color: #B1D0EC !important;
  border: none !important;
  color: #1B4C6A !important;
}

input.montant::selection {
  background-color: lightgray;
}

.zizibutton {
  width: 40px;
  height: 40px;
  background-color: #B1D0EC !important;
  border-radius: 50%;
  color: #1B4C6A !important;
}

.bg-blue {
  color: white !important;
  background-color: #274C6C !important;
}

.header input {
  border-color: transparent !important;
  border-radius: 10px;
  background-color: #D5EDFF !important;
  color: #407499 !important;
  outline: none;
  height: 35px;
}
.header input::placeholder {
  color: #407499 !important;
}

.bg-princ {
  width: 100%;
  background-color: #B1D0EC !important;
  border: none !important;
  color: #1B4C6A !important;
}

.date-picker {
  width: 100px;
  border-color: transparent !important;
  background-color: #B1D0EC !important;
  outline: none;
  border-radius: 10px;
  color: #1B4C6A !important;
  margin: 0.5em;
  text-align: center;
  font-weight: 500;
}

.devise-selector {
  width: 60px;
  height: 60px;
  background-color: #B1D0EC !important;
  border: none !important;
  color: #1B4C6A !important;
}
.devise-selector.active {
  background-color: #1B4C6A !important;
  color: white !important;
}

.waiting-ticket,
.confirmed-ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #1B4C6A !important;
  background-color: white !important;
  border-radius: 15px;
  border: none !important;
}

.validate-button {
  background-color: #D2E7D6 !important;
  color: #0a5a05 !important;
  font-weight: 500;
  height: 80px;
  width: 80%;
  border-radius: 2.5px;
  margin: 0.25em;
}
.validate-button span {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard-button {
  width: 80px;
  height: 80px;
  border-radius: 2.5px;
  background-color: #B1D0EB;
  margin: 0.25em;
  font-weight: bold;
  color: #294A6A;
  text-decoration: none;
}
.keyboard-button:hover {
  color: #294A6A;
}
.keyboard-button:active {
  background-color: #294A6A;
  color: #B1D0EB;
}
.keyboard-button span {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-input {
  width: 100%;
  color: #1B4C6A !important;
  border-radius: 10px;
}
.bg-input input {
  border-color: transparent;
  outline: none;
}

.modal-button {
  padding: 0.5em !important;
  margin: 1em;
  background-color: #CBEBFF !important;
  color: #1B4C6A !important;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px !important;
}

.success-button {
  padding: 0.5em !important;
  color: white !important;
  background-color: #2F87D1;
}

.cancel-button {
  padding: 0.5em !important;
  color: white !important;
  background-color: #B1D0EC !important;
}

.fs-small {
  font-size: 12px !important;
}

.openModal {
  cursor: pointer;
}

.main-wrapper {
  background-color: #226189;
}
.main-wrapper .basket-wrapper {
  width: 80%;
}
.main-wrapper .basket-wrapper .basket-card {
  overflow: hidden;
}
.main-wrapper .actions-wrapper {
  width: 20%;
}
.main-wrapper .actions-wrapper .card {
  background-color: #40739A;
  height: 68px;
}
.main-wrapper .actions-wrapper .card .card-body {
  overflow: hidden !important;
}
.main-wrapper .actions-wrapper .card .card-body .fastaction-wrapper .snap-elements div {
  opacity: 0 !important;
}
.main-wrapper .actions-wrapper .card input {
  background-color: transparent !important;
  color: white !important;
  caret-color: white !important;
  outline: none !important;
  border-color: transparent !important;
  border-bottom: 1px solid white !important;
}

#modal {
  width: 0%;
  height: 0%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
}

#modal2 {
  width: 0%;
  height: 0%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  transition: 0.5s;
}

#modal.active,
#modal2.active {
  width: 100%;
  height: 100%;
  background-color: rgba(34, 97, 137, 0.75);
  transition: 0.5s;
}
#modal.active #header,
#modal2.active #header {
  height: 50px;
}
#modal.active #modal-container,
#modal2.active #modal-container {
  width: 100%;
  height: calc(100% - 50px) !important;
}
#modal.active #modal-container .menu-icon,
#modal2.active #modal-container .menu-icon {
  border-radius: 20px !important;
  border: none !important;
  cursor: pointer;
}
#modal.active #modal-container .menu-icon .card-body,
#modal2.active #modal-container .menu-icon .card-body {
  padding: 1.5em;
}
#modal.active #modal-container .picture_add_form,
#modal2.active #modal-container .picture_add_form {
  position: relative;
}
#modal.active #modal-container .picture_add_form input,
#modal2.active #modal-container .picture_add_form input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#modal.active #modal-container .remise-button .card,
#modal2.active #modal-container .remise-button .card {
  cursor: pointer;
  background-color: #CBEBFF !important;
  color: #1B4C6A !important;
  border-color: transparent !important;
  font-weight: 500;
  margin: 0.5em;
  border-radius: 15px;
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#modal.active #modal-container .itemdetail-menu,
#modal2.active #modal-container .itemdetail-menu {
  background-color: white;
  border-radius: 20px;
}
#modal.active #modal-container .pendingticket-menu,
#modal2.active #modal-container .pendingticket-menu {
  width: 80% !important;
  height: 80% !important;
}
#modal.active #modal-container .pendingticket-menu .waiting-ticket,
#modal2.active #modal-container .pendingticket-menu .waiting-ticket {
  background-color: #AFCFEC !important;
  border-radius: 10px !important;
  border-color: transparent !important;
}
#modal.active #modal-container .mdp-menu,
#modal2.active #modal-container .mdp-menu {
  width: 40%;
  height: 50%;
}
#modal.active #modal-container .mdp-menu .option,
#modal2.active #modal-container .mdp-menu .option {
  background-color: #2E86CF !important;
  border-color: transparent !important;
  border-radius: 10px !important;
}
#modal.active #modal-container .settings-menu,
#modal2.active #modal-container .settings-menu {
  width: 30% !important;
  height: 60% !important;
}
#modal.active #modal-container .settings-menu .card,
#modal2.active #modal-container .settings-menu .card {
  background-color: #AFCFEC !important;
  border-radius: 20px !important;
  border-color: transparent !important;
}
#modal.active #modal-container .infogen-menu,
#modal2.active #modal-container .infogen-menu {
  width: 30% !important;
  height: 80% !important;
}
#modal.active #modal-container .customer-menu,
#modal2.active #modal-container .customer-menu {
  width: 60%;
  height: 60%;
}
#modal.active #modal-container .cloture-menu,
#modal2.active #modal-container .cloture-menu {
  width: 80%;
  height: 80%;
  border-radius: 20px;
}
#modal.active #modal-container .cloture-menu .card,
#modal2.active #modal-container .cloture-menu .card {
  background-color: #407499 !important;
  height: 90%;
}
#modal.active #modal-container .cloture-menu .card .payment-method,
#modal2.active #modal-container .cloture-menu .card .payment-method {
  width: 30%;
  height: 100%;
  background-color: #274C6C !important;
}
#modal.active #modal-container .cloture-menu .card .payment-method ul,
#modal2.active #modal-container .cloture-menu .card .payment-method ul {
  margin: 0em !important;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#modal.active #modal-container .cloture-menu .card .payment-method ul li,
#modal2.active #modal-container .cloture-menu .card .payment-method ul li {
  width: 100%;
  border-bottom: 2px solid #1F3E5E;
}
#modal.active #modal-container .cloture-menu .card .payment-method ul li.active,
#modal2.active #modal-container .cloture-menu .card .payment-method ul li.active {
  background-color: #407499 !important;
}
#modal.active #modal-container .cloture-menu .card .payment-method ul li:last-child,
#modal2.active #modal-container .cloture-menu .card .payment-method ul li:last-child {
  border-bottom: none !important;
}
#modal.active #modal-container .cloture-menu .card .payment-method ul li a,
#modal2.active #modal-container .cloture-menu .card .payment-method ul li a {
  justify-content: center;
  color: white;
}
#modal.active #modal-container .cloture-menu .card .payment-method ul li a .title,
#modal2.active #modal-container .cloture-menu .card .payment-method ul li a .title {
  font-weight: 500;
  text-transform: uppercase;
}
#modal.active #modal-container .cloture-menu .card .recap-details,
#modal2.active #modal-container .cloture-menu .card .recap-details {
  width: 70%;
  position: absolute;
  top: 0%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#modal.active #modal-container .cloture-menu .card .recap-details .card,
#modal2.active #modal-container .cloture-menu .card .recap-details .card {
  background-color: #274C6C !important;
  border-radius: 10px;
  border: none !important;
}
#modal.active #modal-container .cloture-menu .card .recap-details .card-header,
#modal2.active #modal-container .cloture-menu .card .recap-details .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}
#modal.active #modal-container .familles-menu,
#modal2.active #modal-container .familles-menu {
  width: 60%;
  height: 60%;
  background-color: white;
  border-radius: 20px;
}
#modal.active #modal-container .familles-menu .card-body,
#modal2.active #modal-container .familles-menu .card-body {
  padding: 0;
}
#modal.active #modal-container .familles-menu .actionbar,
#modal2.active #modal-container .familles-menu .actionbar {
  margin: 0em 0.5em;
  border-radius: 5px;
}
#modal.active #modal-container .familles-menu .family,
#modal.active #modal-container .familles-menu .subfamily,
#modal2.active #modal-container .familles-menu .family,
#modal2.active #modal-container .familles-menu .subfamily {
  cursor: pointer;
  background-color: #CBEBFF !important;
  color: #1B4C6A !important;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
#modal.active #modal-container .familles-menu .product,
#modal2.active #modal-container .familles-menu .product {
  cursor: pointer;
  display: flex;
  border: none;
  background-color: #CBEBFF !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
#modal.active #modal-container .familles-menu .product span,
#modal2.active #modal-container .familles-menu .product span {
  text-decoration: none;
}
#modal.active #modal-container .familles-menu .selected-family,
#modal.active #modal-container .familles-menu .selected-subfamily,
#modal2.active #modal-container .familles-menu .selected-family,
#modal2.active #modal-container .familles-menu .selected-subfamily {
  cursor: pointer;
  background-color: #1B4C6A !important;
  color: #CBEBFF !important;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
#modal.active #modal-container .payment-menu,
#modal2.active #modal-container .payment-menu {
  width: 50%;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
#modal.active #modal-container .payment-menu .keyboard-part,
#modal2.active #modal-container .payment-menu .keyboard-part {
  width: 70%;
  height: 100%;
}
#modal.active #modal-container .payment-menu .keyboard-part .header,
#modal2.active #modal-container .payment-menu .keyboard-part .header {
  height: 30px;
}
#modal.active #modal-container .payment-menu .keyboard-part .header a span,
#modal2.active #modal-container .payment-menu .keyboard-part .header a span {
  color: #1F4262;
}
#modal.active #modal-container .payment-menu .keyboard-part #active-discount-button,
#modal2.active #modal-container .payment-menu .keyboard-part #active-discount-button {
  text-decoration: none;
  color: #4B7493 !important;
}
#modal.active #modal-container .payment-menu .keyboard-part #active-discount-button span,
#modal2.active #modal-container .payment-menu .keyboard-part #active-discount-button span {
  margin: 0.1em;
}
#modal.active #modal-container .payment-menu .keyboard-part #active-discount-button span .text,
#modal2.active #modal-container .payment-menu .keyboard-part #active-discount-button span .text {
  font-size: 12px;
}
#modal.active #modal-container .payment-menu .keyboard-part .remise,
#modal2.active #modal-container .payment-menu .keyboard-part .remise {
  width: 255px !important;
}
#modal.active #modal-container .payment-menu .options-part,
#modal2.active #modal-container .payment-menu .options-part {
  width: 30%;
  height: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #1F4262;
}
#modal.active #modal-container .payment-menu .options-part ul,
#modal2.active #modal-container .payment-menu .options-part ul {
  height: 100%;
}
#modal.active #modal-container .payment-menu .options-part ul li,
#modal2.active #modal-container .payment-menu .options-part ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 16.6666666667% !important;
  border-bottom: 2px solid #1F3E5E;
}
#modal.active #modal-container .payment-menu .options-part ul li:last-child,
#modal2.active #modal-container .payment-menu .options-part ul li:last-child {
  border-bottom: none !important;
}
#modal.active #modal-container .payment-menu .options-part ul li a,
#modal2.active #modal-container .payment-menu .options-part ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
#modal.active #modal-container .payment-menu .options-part ul li a span,
#modal2.active #modal-container .payment-menu .options-part ul li a span {
  margin: 1em;
}

.basket-card {
  background-color: #C4D6DF;
}
.basket-card .card-header {
  background-color: #C4D6DF;
  border: none !important;
}
.basket-card .card-header #choose-client-button {
  text-decoration: none;
  color: #3699FF;
}
.basket-card .card-body {
  background-color: #B5C8D8;
}
.basket-card .card-footer {
  background-color: white;
  border: none;
}

button {
  padding: 1.5em;
  border-radius: 5px;
  border: none;
  font-weight: 400;
}
button.validation {
  background-color: #1EAB4B;
  color: white;
}
button.action {
  background-color: #2E87D0;
  color: white;
}

.button-rounded {
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 0;
}

.heading-text {
  font-weight: bold;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.85);
}

.body-text {
  font-weight: 500;
  font-size: 18px;
}

p {
  margin: 0;
}

.row {
  --bs-gutter-x: 0;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.h-10 {
  height: 10%;
}

.h-90 {
  height: 90%;
}

.h-80 {
  height: 80%;
}

.bouton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 25px;
  width: fit-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
}
.bouton-primaire {
  background: #FFA800;
}
.bouton-secondaire {
  background: #1E1E2D;
  color: white;
}

#achat {
  background-color: #ffffff;
}
#achat .produitEnCours {
  background-color: #f5f7f5;
}
#achat #panier-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
}
#achat #panier-wrapper::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#barContainer {
  position: fixed;
  width: 80px;
  height: 100%;
  background-color: #1E1E2D;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#barContainer ul {
  width: 100%;
}
#barContainer ul li {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em;
}
#barContainer ul li span {
  color: #A2A3B7;
}
#barContainer ul li.active {
  background-color: #1A1A27;
}
#barContainer ul li.active a svg g path {
  fill: #3699ff !important;
}

#pageContainer {
  position: absolute;
  left: 80px;
  width: calc(100% - 80px);
}
#pageContainer #list-ticket {
  text-decoration: none;
  color: #3699FF;
}
#pageContainer #searchbar {
  border-bottom: solid 1px #ccc !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  outline: none !important;
  background-color: #F5F7F5;
}

#productPage #produitsWrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  align-content: flex-start;
}
#productPage #produitsWrapper::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
#productPage .card-product {
  position: relative;
  height: 100px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#productPage .card-product .price {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
#productPage .card-product .img-wrapper {
  height: 100%;
  width: 40%;
  display: flex;
}
#productPage .card-product .img-wrapper img {
  display: flex;
  object-fit: cover;
  width: 100%;
}
#productPage .card-product .quantity-badge {
  position: absolute;
  bottom: -10px;
  left: -10px;
  padding: 0.25em;
  border-radius: 50%;
  color: #FFF4DE;
  background-color: #FFA800;
}
#productPage .card-product .text {
  width: 70%;
}

.text-blue {
  color: #1B4C6A !important;
}

.text-lightblue {
  color: #B1D0EC !important;
}

.calendar-button {
  background-color: #274C6C;
  padding: 0.5em;
  border-radius: 5px;
}

.bg-success {
  background-color: #2E87D0 !important;
}

.bg-danger {
  background-color: #D64545 !important;
}

/* SWIPE */
.swipe-container {
  margin: 1em;
  position: relative;
  background-color: #ccc;
  border-radius: 20px;
}

.reveal-left,
.reveal-right {
  position: absolute;
  top: 0;
  height: 100%;
  width: 500px;
  z-index: 1;
  display: flex;
  align-items: center;
  color: white;
  padding: 8px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 20px;
}

.reveal-left {
  left: 0;
  justify-content: start;
  text-align: left;
  flex-direction: row-reverse;
}

.reveal-right {
  right: 0;
  justify-content: end;
  text-align: right;
  flex-direction: row-reverse;
}

.swipe-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  background-color: white;
  z-index: 2;
  user-select: none;
  border-radius: 20px;
  font-weight: 500;
  color: #1B4C6A !important;
}

.swipe-item > span {
  padding: 8px;
  font-size: inherit;
}

.swipe-item > span {
  flex: 1;
}

/*# sourceMappingURL=index.css.map */
